body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.grid-form {
    display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-gap: 10px;
}

.news-img{
    width: 90%;
    height: auto;
}

.news_item{
    position:relative;
    border-top: 3px red solid;
    border-radius: 3px;
    box-shadow: 2px 2px 15px gray;
}

p{
    word-wrap: break-word;
}
